<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <title>Registration Numbers</title>
</head>

<body>
<h1> Registration Plate Visual Representation </h1><br><br>
<div class="regPlate">
{{plateCode}}
</div>

</body>
